/* @import url('https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js');
@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-body antialiased;
}

body {
  @apply bg-white transition-colors
}

body.dark {
  @apply bg-[#082344] transition-colors
}

.container {
  max-width: 600px;

  @screen sm {
    max-width: 700px;
  }

  @screen md {
    max-width: 850px;
  }
}

/* PAGINATION */
.pagination {
  @apply flex flex-wrap items-center gap-1.5 p-3 rounded
}

.pagination .previous {
  @apply mb-2 lg:mb-0 lg:mr-auto
}

.pagination .next {
  @apply mt-2 lg:mt-0 lg:ml-auto
}

.pagination li:not(.break) a {
  @apply w-7 h-7 ml-2 lg:ml-3 cursor-pointer border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary
}

.pagination li.break {
  @apply mt-2 lg:mt-0 ml-0 lg:ml-4 block text-center text-zinc-400 pb-2
}

.pagination li.selected a {
  @apply !bg-primary !border-secondary !text-secondary
}

.tooltip-top {
  @apply absolute min-w-max bottom-9 scale-0 transition-all rounded bg-secondary dark:bg-white p-2 text-xs text-white dark:text-primary group-hover:scale-100
}

.code-container {
  position: relative;
  display: inline-block;
}

.copy-button {
  position: absolute;
  top: 10px; /* İstediğiniz yükseklik değerini ayarlayın */
  right: 10px; /* İstediğiniz sağlık değerini ayarlayın */
}